<div class="card m-5">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group">
        Product ID
        <input formControlName="productId"
          type="text"
          class="form-control text-center"
          name="product-id"
          id="product-id">
      </div>
      <div class="form-group">
        Type of product
        <select formControlName="typeOfProduct" class="form-select" aria-label="Default select example">
          <option *ngFor="let item of listOfCategories" value={{item.id}}>{{item.name}}</option>
        </select>
      </div>
      <div class="form-group">
        Name
        <input formControlName="name"
          type="text"
          class="form-control text-center"
          name="name"
          id="name">
      </div>
      <div class="form-group">
        Price
        <input
          formControlName="price"
          type="text"
          class="form-control text-center"
          name="price"
          id="price">
      </div>
      <div class="form-group" *ngIf="!!form.get('discountApply').value">
        Discount
        <input
          formControlName="discount"
          type="text"
          class="form-control text-center"
          name="discount"
          id="discount"
          [attr.disabled]="true">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" formControlName="discountApply" type="checkbox" value="" id="flexCheckDefault" [attr.disabled]="true">
          <label class="form-check-label" for="flexCheckDefault">
            discount apply?
          </label>
        </div>
      </div>
      <div class="form-group mt-2">
        <button class="btn btn-primary" (click)="onClickSave()"  type="submit">Save</button>
      </div>
    </form>
  </div>
</div>

