<div class="card p-1">
  <table class="table">
    <caption>{{ captionText }}</caption>
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Type of product</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Total value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of listOfProducts, let i=index; trackBy: trackByItems">
        <td>{{ product.productId }}</td>
        <td>{{ transformType(product.typeOfProduct) }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td *ngIf="product.discountApply">{{ product.discount }}</td>
        <td *ngIf="!product.discountApply">-</td>
        <td *ngIf="product.discountApply">{{ calculateDiscount(product.price, product.discount)}}</td>
        <td *ngIf="!product.discountApply">-</td>
      </tr>
    </tbody>
  </table>
</div>
